body {
    display: grid;
    justify-items: center;
    align-items: center;
}

header {
    width: 100%;
}

#register-holder {
    width: 96.5%;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    display: grid;
    justify-items: center;
}

#register-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 20px; 
}

.register-form-field::placeholder {
    color: #3a3a3a;
}

.register-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
    width: 80%; /* Ajustando a largura do campo de entrada */
}
