/* Estilo específico para a página de notificações */

/* Estilo do título */
h1 {
    margin: 0;
}

/* Estilo da lista de notificações */
#lista-notificacoes {
    margin: 20px;
}

/* Estilo dos itens da lista */
#lista-notificacoes ul {
    list-style-type: none;
    padding: 0;
}

#lista-notificacoes ul li {
    margin-bottom: 10px;
    font-size: 18px;
}