/* Estilos específicos para a lista de notificações */
#lista-notificacoes {
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
