/* Estilo específico para a página de produtos */

/* Estilo da lista de produtos */
#lista-produtos {
    margin: 20px;
}

/* Estilo dos itens da lista */
#lista-produtos ul {
    list-style-type: none;
    padding: 0;
}

#lista-produtos ul li {
    margin-bottom: 10px;
    font-size: 18px;
}