html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display:grid;
    justify-items: center;
    align-items: center;
    background: #f4f4f4; 
    color: #3a3a3a; 
    
    /* Definindo a altura do corpo como 100% da altura da viewport */
    height: 100vh;
}

header {
    background: #3a3a3a;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#register-holder {
    width: 50%;
    height: 70%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
}

#register-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 20px; 
}

.register-form-field::placeholder {
    color: #3a3a3a;
}

.register-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
    width: 80%; /* Ajustando a largura do campo de entrada */
}